img {
  width: 300px;
  height: 300px;
  object-fit: contain;

  padding: 5px;
}

.card {
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.425);
  padding: 15px;
  text-align: justify;
}
.btn {
  padding: 10px 15px;
  cursor: pointer;
  background-color: rgb(241, 138, 138);
  border: 0;
  border-radius: 20px;
}

.btn:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in;
}
